
<!-- <section class="mas-sobre">
  <h2>Más sobre mí</h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi praesentium, accusamus iure, numquam veritatis provident nostrum possimus quibusdam, velit quia non et sequi reiciendis error aut ex impedit vitae fugit.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi praesentium, accusamus iure, numquam veritatis provident nostrum possimus quibusdam, velit quia non et sequi reiciendis error aut ex impedit vitae fugit.</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi praesentium, accusamus iure, numquam veritatis provident nostrum possimus quibusdam, velit quia non et sequi reiciendis error aut ex impedit vitae fugit.</p>
 </section> -->
