<section class="hero" id="about">

  <img
    src="assets/images/hero/5.svg"
    alt="Ivan-aDiaz"
    loading="lazy"
    class="hero-img"
    >

  <div class="bio animate__animated animate__shakeX">
    <h2 class="bio-titulo">Sobre Mí</h2>
    <p class="bio-texto">
      Soy un Ingeniero de Sistemas en formación, con experiencia en soporte de TI, administración de bases de datos y desarrollo frontend con JavaScript, Angular, HTML y CSS. Apasionado por aprender y resolver problemas mediante soluciones tecnológicas innovadoras.
    </p>
  </div>
 </section>
