<div class="contenedor-de-proyecto card-de-proyectos">
  <img
  src="assets/images/app-english-angular.png"
  alt="Aprende ingles en 7 dias"
  loading="lazy"
  class="project-pic"
/>
<h3 class="titulo-de-proyectos">Master English 7</h3>
<p class="detalles-proyecto">
  Esta aplicacion está hecha con base al libro del señor Ramon Campaño
   llamado aprende ingles en 7 días.
</p>

  <a href="#" target="_blank" class="enlace-de-proyecto">Echale un vistaso</a>
</div>
<div class="contenedor-de-proyecto card-de-proyectos">
  <img
    src="assets/images/juego-cartas.png"
    alt="blackjack"
    loading="lazy"
    class="project-pic"
  />
  <h3 class="titulo-de-proyecto">Juego de cartas</h3>
  <p class="detalles-proyecto">
    Desarrollé este juego de cartas interactivo como parte del curso de JavaScript Moderno impartido por el profesor Fernando Herrera en Udemy.
  </p>
  <a href="https://ivanarturo-vite-app.netlify.app/" target="_blank" class="project-link">Ver</a>
</div>

<div class="contenedor-de-proyecto card-de-proyectos">
  <img
  src="assets/images/login-jwt.png"
  alt="auth JWT"
  loading="lazy"
  class="project-pic"
/>
<h3 class="titulo-de-proyecto">Auth JWT</h3>
<p class="detalles-de-proyecto">
  En este es un sisteme de autenticacion profesional donde utilizo para la parte del backend Node js y del lado del frotend Angular js usando los famosos JWT.
</p>
<a href="https://app-gym-angular.netlify.app/" target="_blank" class="enlace-de-proyecto">Echale un vistazo!</a>
</div>
