<nav>
  <h1>IVAN DIAZ</h1>

  <ul class="navegacion" [class.show]="isMenuVisible" >
   <li (click)="toggleMenu()"><a  href="#about" class="nav-link">Acerca de Mí</a></li>
   <li (click)="toggleMenu()"><a href="#habilidades" class="nav-link">Habilidades</a></li>
   <li (click)="toggleMenu()"><a href="#proyectos" class="nav-link">Proyectos</a></li>
   <li (click)="toggleMenu()"><a href="#contacto" class="nav-link">Contacto</a></li>
  </ul>

  <button mat-button class="menu-hamburguesa" id="menu-hamburguesa" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>



 </nav>
