.habilidades{
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.encabezado-habilidad{
  margin-bottom: 1rem;
}

.contenedor-habilidades img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}


@media screen and (max-width: 720px) {
  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }
}

@media  screen and (max-width: 420px){}
