<section class="habilidades" id="habilidades">
  <h2 class="encabezado-habilidad">Mis mejores habilidades</h2>
  <div class="contenedor-habilidades">
    <div class="first-set animate__animated animate__pulse">
      <img
        src="assets/icons/icons8-html-5.svg"
        alt=""
        loading="lazy"
        class="icon icon-card"
      />
      <img
        src="assets/icons/icons8-css3.svg"
        alt=""
        loading="lazy"
        class="icon icon-card"
      />
      <img
        src="assets/icons/icons8-javascript.svg"
        alt=""
        loading="lazy"
        class="icon icon-card"
      />
      <img
        src="assets/icons/icons8-bootstrap.svg"
        alt=""
        loading="lazy"
        class="icon icon-card"
      />
    </div>

    <div class="second-set animate__animated animate__pulse">
      <img
        src="assets/icons/angular.svg"
        alt=""
        loading="lazy"
        class="icon icon-card"
      />
      <img
        src="assets/icons/node_icon.svg"
        alt=""
        loading="lazy"
        class="icon icon-card"
      />
      <img
        src="assets/icons/icons8-git.svg"
        alt=""
        loading="lazy"
        class="icon icon-card"
      />

      <img
        src="assets/icons/docker_icon.svg"
        alt=""
        loading="lazy"
        class="icon icon-card"
      />
    </div>

  </div>
 </section>
