<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Ivan Arturo | Desarrollador Web</title>
  </head>

  <body>
    <!-- Navbar -->
     <app-nav></app-nav>
  

     <!-- Hero Section -->
     <app-hero></app-hero>



    <!-- More about -->
     <app-about></app-about>


       <!-- Projects section -->
        <app-proyecto></app-proyecto>


    <!-- Skills section -->
     <app-skills></app-skills>




    <!-- Contact section -->
     <app-contacto></app-contacto>


    <!-- Social accounts - Fixed to the right -->
    <app-social></app-social>

    <!-- Footer section -->
  <app-footer></app-footer>

    <app-desplazar-arriba></app-desplazar-arriba>
    <!-- Website scripts -->
    <script src="assets/js/app.js"></script>

    <!-- Ion icons scripts -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
